flask
gunicorn
pytest==3.6.4
gradio
accelerate==0.16.0
transformers==4.26.0
ftfy==6.1.1
#bitsandbytes==0.36.0  #0.35.0
natsort==5.5.0
scipy
safetensors==0.2.8
#xformers==0.0.16rc425
xformers==0.0.16

